{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ $pages := where .Site.RegularPages "Type" "members" }}

  {{ $members := where $pages "Params.former" true }}
  {{ if gt (len $members) 0 }}
    <div class="container-fluid">
      <h1>Former Group Members</h1>
      <!-- HEADER -->
      <div class="card__former-member card__former-member-header">
        <div class="details"><strong>Photo</strong></div>
        <div class="details"><strong>Name</strong></div>
        <div class="details"><strong>Role</strong></div>
        <div class="details"><strong>Years</strong></div>
        <div class="details"><strong>Current Position</strong></div>
      </div>
      {{ range sort $members "Params.end_year" "desc" }}
        <div class="card__former-member">
          {{ with .Params.portrait }}
            {{ with resources.Get . }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
          {{ else }}
            {{ with .Site.Params.default_portrait }}
              {{ with resources.Get . }}
                <img src="{{ .RelPermalink }}">
              {{ end }}
            {{ end }}
          {{ end }}
          <div class="details">{{ .Params.first_name }} {{ .Params.last_name }}</div>
          <div class="details">{{ .Params.old_position }}</div>
          <div class="details">{{ .Params.begin_year }}--{{ .Params.end_year }}</div>
          <div class="details">
            {{ if .Params.webpage }}
              <a class="link" href="{{ .Params.webpage }}" target="_blank">{{ .Params.new_position }}</a>
            {{ else }}
              {{ .Params.new_position }}
            {{ end }}
            @ {{ .Params.institute }}
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}

</main>
{{ end }}
