// https://grtcalculator.com/math/
@use "sass:math";

// Golden ratio, phi
$phi: math.div(1 + math.sqrt(5), 2);
$f: math.div(2.4rem, math.pow($phi, 2));

$radius: 0.25rem;
$margin: 1rem;
$max-width: 70vw;
$padding: math.div(100vw - $max-width, 2);
$border: 2px;
$mobile-breakpoint: 768px;

// this is for hover and lift effect
$hover-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$lift-distance: -4px;
$shadow-light: 0 1px 3px rgb(from var(--fg) r g b / 0.12), 0 1px 2px rgb(from var(--fg) r g b / 0.24);
$shadow-heavy: 0 14px 28px rgb(from var(--fg) r g b / 0.25), 0 10px 10px rgb(from var(--fg) r g b / 0.5);
