{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main">

  {{ $pages := where .Site.RegularPages "Type" "software" }}

  {{/* HPC Software */}}
  {{ $libs := where $pages "Params.software_type" "hpc" }}
  {{ if gt (len $libs) 0 }}
    <h3>HPC Software</h3>
    <div class="post-group">
        {{ range sort $libs "Params.title" "asc" }}
          <div class="card card__software">
            <div class="card__software-title">
              <div class="title">
                <a href="{{ .Permalink }}" target="_blank">{{ .Params.title }}</a>
              </div>
              {{ if .Params.external_url }}
                <a href="{{ .Params.external_url }}" target="_blank" class="software-link">
                  <i class="fab fa-{{ .Params.repo }}"></i>
                  Source Code
                </a>
              {{ end }}
            </div>
            <div>
              <h4>{{ .Params.summary }}</h4>
            </div>
          </div>
        {{ end }}
    </div>
  {{ end }}

  {{/* Analysis Software */}}
  {{ $libs := where $pages "Params.software_type" "analysis" }}
  {{ if gt (len $libs) 0 }}
    <h3 style="margin-top: 60px;">Analysis Software</h3>
    <div class="post-group">
        {{ range sort $libs "Params.title" "asc" }}
          <div class="card card__software">
            <div class="card__software-title">
              <div class="title">
                <a href="{{ .Permalink }}" target="_blank">{{ .Params.title }}</a>
              </div>
              {{ if .Params.external_url }}
                <a href="{{ .Params.external_url }}" target="_blank" class="software-link">
                  <i class="fab fa-{{ .Params.repo }}"></i>
                  Source Code
                </a>
              {{ end }}
            </div>
            <div>
              <h5>{{ .Params.summary }}</h5>
            </div>
          </div>
        {{ end }}
    </div>
    {{ end }}



</main>
{{ end }}
