{{/* This partial is called as {{ partial "member" (dict "context" . "title" true/false) }} }}
     title is used as a bool to decide whether to list the members title or not given
           how it is displayed.
     In order to access the member page objects, we now have to prepend them with 
     .context i.e. .Params -> .context.Params
*/}}
{{ $title := .title }}

<div class="col profile">
  {{ with .context.Params.portrait }}
    {{ with resources.Get . }}
      <a href="{{ .Permalink }}">
        <div class="small-portrait" itemprop="image" style="background-image: url('{{ .RelPermalink }}');">
        </div>
      </a>
    {{ end }}
  {{ else }}
      {{ with .Site.Params.default_portrait }}
        {{ with resources.Get . }}
          <a href="{{ .Permalink }}">
            <div class="small-portrait" itemprop="image" style="background-image: url('{{ .RelPermalink }}');">
            </div>
          </a>
        {{ end }}
      {{ end }}
  {{ end }}
  <div class="portrait-title">
    <h4 itemprop="name"> 
      <a href="{{ .context.RelPermalink }}"> {{ .context.Params.first_name }} {{ .context.Params.last_name }}</a>
    </h4>
    {{ if $title }}
      {{ with .context.Params.title }}
        <h5>{{ . }}</h5>
      {{ end }}
    {{ end }}
    <h5>{{ .context.Params.institute }}</h5>
  </div>
</div>
