@use "sass:math";
@use "../utils/variables" as *;
@use "../base/typography" as *;
@use '../utils/mixins';

// Sub-card layout configuration (Type: Columns)
$sub-card-layouts: (
  "publications": 1,
  "talks": 3,
  "software": 2,
  "news": 2,
);

.card {
  background-color: var(--bg);
  border: 1px solid var(--fg);
  color: var(--fg);
  padding: 20px;
  border-radius: 8px;
  transition: $hover-transition;
  box-shadow: $shadow-light;
  position: relative;

  .main-link {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1; // Covers the card
    }
  }

  .category-link {
    position: relative; // Pulls it above the main-link's pseudo-element
    z-index: 2;         // Higher than the stretched link
    text-decoration: none;
    font-weight: bold;
  }

  // defined in utils/_mixins
  @include mixins.lift-effect;

  .sub-card-container {
    display: grid;
    gap: 1rem;
    margin-top: 15px;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
  }

  &__footer {
    @extend h5;          // start with H5 fontsize
    grid-column: 1 / -1; // Spans entire card
    position: relative; // Pulls it above the main-link's pseudo-element
    z-index: 2;         // Higher than the stretched link
    text-decoration: none;

    display: flex;
    align-items: baseline; // Aligns text along the bottom edge
    gap: 5px;             // Adds a little breathing room between items
  }
  &__footer_highlight a {
    font-size: inherit;
    color: var(--fg_highlight);
    margin: 0; // Headers often have default margins that might misalign text
  }
  // publication sub-card
  &__publications {
    display: grid; 
    grid-template-columns: 1fr;
  }
  &__publications-title {
      @extend h4;
      a { font-size: 1em; }
  }
  &__publications-authors {
      @extend h6;
  }
  &__talks {
    .sub-card-container {
      grid-template-columns: 2fr 5fr 1fr;
    }
    .talk-title {
      @extend h5;
      margin: 0 0 0.25rem 0; // Remove default margins
      color: var(--warning);
      line-height: 1.2;
    }
  }
  // Loop through the map to create sub-type modifiers
  //@each $type, $cols in $sub-card-layouts {
  //  &--#{$type} {
  //    .sub-card-container {
  //      grid-template-columns: repeat($cols, minmax(0, 1fr));
  //    }
  //  }
  //}
}
