@use "sass:math";
@use "../utils/variables" as *;

main {
  margin: 0 $margin;
}

// global
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-decoration: none;

  &:link {
    color: var(--link);
  }

  &:hover,
  &:visited {
    color: var(--link-visited);
  }
}

::selection {
  background-color: var(--link);
  color: white;
}

hr {
  background-color: var(--fg4);
  margin-top: $margin;
  margin-bottom: $margin;
  border: 0;
  height: $border;
}

#main {
  & > .post-group {
    & > ul {
      border-left: var(--fg4) solid $border;
      list-style-type: none;
      margin-left: 0.5rem;
      padding-left: $margin;

      & >li, > div > li {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1.6;

        & > time {
          text-align: right;
        }
      }

      @media screen and (min-width: $mobile-breakpoint) {
        margin-left: 1rem;
        padding-left: 2rem;
      }
    }

    a {
      text-decoration: none;
      transition: text-decoration 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#wrapper {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  font-family: "Latin Modern Roman", "Times New Roman", serif;
  min-height: 100vh;
  overflow-wrap: break-word;
  padding: 1rem $padding;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-left: math.div($padding, 3);
    padding-right: math.div($padding, 3);
  }
}
