@use "sass:math";
@use "../utils/variables" as *;
@use '../utils/mixins';

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmmono-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmmono-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmmono-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmmono-normal.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmroman-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmroman-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmroman-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmroman-normal.woff');
}


.content {
  .MathJax {
    font-size: 100% !important;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .katex {
    font-size: 100% !important;
    overflow-x: auto;
    overflow-y: hidden;
  }

  :last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &.footnote-ref {
      text-decoration: none;

      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }

  blockquote {
    background-color: var(--bg_surface);
    border-left: var(--fg) $border solid;
    border-radius: $radius;
    font-style: italic;
    padding: 1rem 2rem;
  }

  blockquote blockquote {
    background-color: var(--bg_surface2);
  }

  pre {
    background-color: var(--bg_surface) !important;
    border-radius: $radius;
    font-family: "Latin Modern Mono", Courier, monospace;
    position: relative;
    overflow-x: auto;
    padding: 1rem;

    code {
      padding: 0;
    }
  }

  code {
    background-color: var(--bg_surface);
    border-radius: $radius;
    font-family: "Latin Modern Mono", Courier, monospace;
    padding: 0 0.2rem;
  }

  mark {
    background-color: var(--bg_surface);
    color: var(--fg_highlight);
    border-radius: $radius;
    padding: 0 0.2rem;
  }

  // Keyboard
  kbd {
    background-color: var(--bg_surface);
    color: var(--fg_highlight);
    border-radius: $radius;
  }

  table {
    display: block;
    overflow-x: auto;
    margin: auto;
    background-color: var(--bg);
    border-collapse: collapse;
    border: none;

    td,
    th {
      border: var(--fg_border) $border solid;
      padding: 0.1rem 0.5rem;
    }

    th {
      background-color: var(--bg_surface);
      font-weight: bold;
    }
  }

  ol,
  ul {
    margin-left: $margin;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: $margin;
  }
}

.content blockquote,
.content div,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content pre,
.content ol,
.content table,
.content ul,
.content dl,
.content video {
  margin-bottom: $margin;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @include mixins.h-line-height;
}

h1 { @include mixins.h1-styles; }
h2 { @include mixins.h2-styles; }
h3 { @include mixins.h3-styles; }
h4 { @include mixins.h4-styles; }
h5 { @include mixins.h5-styles; }
h6 { @include mixins.h6-styles; }
.content h1 { @include mixins.h1-styles; }
.content h2 { @include mixins.h2-styles; }
.content h3 { @include mixins.h3-styles; }
.content h4 { @include mixins.h4-styles; }
.content h5 { @include mixins.h5-styles; }
.content h6 { @include mixins.h6-styles; }

.content img {
  max-width: 100%;
}

.content p {
  text-align: justify;
}

// .content
.content strong.chinese {
  font-weight: normal;
  text-emphasis-style: dot;
  text-emphasis-position: under;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: under;
}

.content.numbered-subtitles {
  counter-reset: section-h2;
  h2 {
    counter-reset: section-h3;
    &:before {
      counter-increment: section-h2;
      content: counter(section-h2) " ";
    }
  }
  h3 {
    counter-reset: section-h4;
    &:before {
      counter-increment: section-h3;
      content: counter(section-h2) "." counter(section-h3) " ";
    }
  }
  h4 {
    counter-reset: section-h5;
    &:before {
      counter-increment: section-h4;
      content: counter(section-h2) "." counter(section-h3) "."
        counter(section-h4) " ";
    }
  }
  h5 {
    counter-reset: section-h6;
    &:before {
      counter-increment: section-h5;
      content: counter(section-h2) "." counter(section-h3) "."
        counter(section-h4) "." counter(section-h5) " ";
    }
  }
  h6 {
    &:before {
      counter-increment: section-h6;
      content: counter(section-h2) "." counter(section-h3) "."
        counter(section-h4) "." counter(section-h5) "." counter(section-h6) " ";
    }
  }
}


.toc.numbered-subtitles {
  counter-reset: ul-h2;
  li {
    counter-reset: ul-h3;
    &:before {
      counter-increment: ul-h2;
      content: counter(ul-h2) " ";
    }
    li {
      counter-reset: ul-h4;
      &:before {
        counter-increment: ul-h3;
        content: counter(ul-h2) "." counter(ul-h3) " ";
      }
      li {
        counter-reset: ul-h5;
        &:before {
          counter-increment: ul-h4;
          content: counter(ul-h2) "." counter(ul-h3) "." counter(ul-h4) " ";
        }
        li {
          counter-reset: ul-h6;
          &:before {
            counter-increment: ul-h5;
            content: counter(ul-h2) "." counter(ul-h3) "." counter(ul-h4) "."
              counter(ul-h5) " ";
          }
          li {
            &:before {
              counter-increment: ul-h6;
              content: counter(ul-h2) "." counter(ul-h3) "." counter(ul-h4) "."
                counter(ul-h5) "." counter(ul-h6) " ";
            }
          }
        }
      }
    }
  }
}

.icon {
  svg {
    fill: var(--fg);
    margin-right: 0.3em;
    margin-left: 0.3em;
  }
}

.taxonomy-svg {
  padding: 0;
  top: 0.125em;
  position: relative;
}

time {
  color: var(--fg_border);
  margin-left: 1rem;
  min-width: 5rem;
}
