{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $pages := where .Site.RegularPages "Type" "news" }}
  {{ range $pages.GroupByDate "2006" }}
  <div class="post-group">
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <div class="card card__news">
        <div class="card__news-details">
          <div class="title">
            <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
          <div class="date">
            {{ .PublishDate.Format .Site.Params.dateFormat }}
          </div>
          <div class="description">
            {{ .Content }}
          </div>
        </div>
        {{ with .Params.image }}
          <div class="card__talk-image">
            {{ with resources.Get . }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
          </div>
        {{ end }}
      </div>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</main>
{{ end }}
