{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $pages := where .Site.RegularPages "Type" "news" }}
  {{ range $pages.GroupByDate "2006" }}
  <div class="post-group">
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <div style="border: 1px solid var(--fg); margin:10px; padding:10px;">
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.image }}
          {{ with resources.Get . }}
            <img src="{{ .RelPermalink }}" width="10%">
          {{ end }}
        {{ end }}
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      <details>
        <summary>Details</summary>
          <div>
            {{ .Content }}
          </div>
      </details>
      </div>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</main>
{{ end }}
