@use "sass:math";
@use "../utils/variables" as *;

// footer
#footer {
  color: var(--fg_border);
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  margin-top: $margin;

  & > .footnote {
    text-align: center;
  }
}
