{{ define "head" }}
{{ end }}

{{ define "main" }}
<main>
  <div id="content" class="index">
    {{ with .Site.GetPage "_index.md" }}
      {{ .Content }}
    {{ end }}

    {{/* Make adding news and how much controllable in config file */}}
    <h4 style="margin-top: 1cm">Latest News</h4>
    {{ $allowedTypes := slice "news" "publications" }}
    {{ range ( where site.RegularPages "Type" "in" $allowedTypes | first 5 ) }}
      <div class="row align-items-start">
        <div class="col-sm-3">
          <h5><time style="margin-left: 0rem">{{ .PublishDate.Format .Site.Params.dateFormat }}</time></h5>
        </div>
        <div class="col">
          <h5><a href="{{ .Permalink }}"> {{ .Title }}</a></h5>
          {{ if eq .Type "publications" }}
            <p>
            {{ if .Params.journal }}
              {{ if .Params.doi }}
                <a class="link" href="{{ .Params.doi }}" target="_blank">{{ .Params.journal }}</a>
              {{ else }}
                {{ .Params.journal }}
              {{ end }}
              [ <a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a> ]
            {{ else }}
              <a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a>
            {{ end }}
            </p>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>

</main>
{{ end }}
