{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main>
  <div id="content" class="index">
    {{ with .Site.GetPage "_index.md" }}
      {{ .Content }}
    {{ end }}

    {{/* Make adding news and how much controllable in config file */}}
    <h3 style="margin-top: 1cm">Latest News</h3>
    {{ $allowedTypes := slice "news" "publications" }}
    {{ range ( where site.RegularPages "Type" "in" $allowedTypes | first 5 ) }}
      <h4 style="margin-top: 0.5cm"><time style="margin-left: 0rem">{{ .PublishDate.Format .Site.Params.dateFormat }}</time> <a href="{{ .Permalink }}"> {{ .Title }}</a></h4>
      {{ if eq .Type "publications" }}
        <p>
        {{ if .Params.journal }}
          {{ if .Params.doi }}
            <a class="link" href="{{ .Params.doi }}" target="_blank">{{ .Params.journal }}</a>
          {{ else }}
            {{ .Params.journal }}
          {{ end }}
          [ <a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a> ]
        {{ else }}
          <a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a>
        {{ end }}
        </p>
      {{ end }}
    {{ end }}
    </div>

</main>
{{ end }}
