{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $pages := where .Data.Pages "Type" "posts" }}
  {{ range $pages.GroupByDate "2006" }}
  <div class="post-group">
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h3>...</h3>
  </div>
</main>
{{ end }}
