{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ $pages := where .Site.RegularPages "Type" "members" }}

  {{ with .Site.Params.memberClass }}
    {{/* let user specifiy whether to group members by "class" 
         default = false 
    */}}

    {{/* SENIORS */}}
    {{ $members := where $pages "Params.position" "senior" }}
    {{ if gt (len $members) 0 }}
      <div class="container-fluid">
        <h1>Faculty and Staff</h1>
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" false) }}
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{/* PostDocs */}}
    {{ $members := where $pages "Params.position" "postdoc" }}
    {{ if gt (len $members) 0 }}
      <div class="container-fluid">
        <h1>Postdocs</h1>
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" false) }}
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{/* GradStudents */}}
    {{ $members := where $pages "Params.position" "gradstudent" }}
    {{ if gt (len $members) 0 }}
      <div class="container-fluid">
        <h1>Grad Students</h1>
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" false) }}
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{/* Under Grads */}}
    {{ $members := where $pages "Params.position" "undergrad" }}
    {{ if gt (len $members) 0 }}
      <div class="container-fluid">
        <h1>Undergraduate Students</h1>
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" false) }}
          {{ end }}
        </div>
      </div>
    {{ end }}

  {{ else }}
    {{/* list all members alphabetically */}}
    {{ $members := where $pages "Params.former" "!=" true }}
    {{ if gt (len $members) 0 }}
      <div class="container-fluid">
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" true) }}
          {{ end }}
        </div>
      </div>
    {{ end }}

  {{ end }}

</main>
{{ end }}
