{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/single.css" }}
{{ with resources.Get "sass/layouts/single.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ with resources.Get "sass/layouts/sharingbuttons.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main">
<div class="row row-cols-auto">
  {{/* Portrait plus institute and contact info */}}
  <div class="col">
    <div class="portrait">
      {{ with .Params.portrait }}
        {{ with resources.Get . }}
          <a href="{{ .Permalink }}">
            <div class="portrait" itemprop="image" style="background-image: url('{{ .RelPermalink }}');">
            </div>
          </a>
        {{ end }}
      {{ else }}
        {{ with .Site.Params.default_portrait }}
          {{ with resources.Get . }}
            <a href="{{ .Permalink }}">
              <div class="small-portrait" itemprop="image" style="background-image: url('{{ .RelPermalink }}');">
              </div>
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <div class="portrait-title">
      <h2>{{ .Params.first_name }} {{ .Params.last_name }}</h2>
    </div>
    <div class="portrait-title">
      <h5>{{ .Params.title }}, {{ .Params.institute }}</h5>
    </div>
    <div class="portrait-title">
      <h5><a href="{{ .Params.website }}" target="_blank">Personal website</a></h5>
    </div>
    {{ if .Params.social }}
    <div id="social-icons">
      <ul>
        {{ range .Params.social }}
          {{ $isemail := eq .icon "envelope" }}
          <li>
            {{ if $isemail }}
              <a href="mailto:{{ $.Params.email }}">
                <i class="fa fa-{{ .icon }} big-icon fa-lg" aria-hidden="true"></i>
              </a>
            {{ else }}
              <a href="{{ .link | safeHTML }}" target="blank">
            {{ end }}
            {{ if eq .source "ai" }}
              <i class="ai ai-{{ .icon }} big-icon fa-lg" aria-hidden="true"></i>
            {{ else if eq .source "fab" }}
              <i class="fab fa-{{ .icon }} big-icon fa-lg" aria-hidden="true"></i>
            {{ else if and (eq .source "fa") (not $isemail) }}
              <i class="fa fa-{{ .icon }} big-icon fa-lg" aria-hidden="true"></i>
            {{ end }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ with .Params.phone }}
      <div class="portrait-title">
        <h5>
          <i class="fa fa-phone big-icon" area-hidden="true"></i>
          {{ . }}
        </h5>
      </div>
    {{ end }}
  </div>

  {{/* About in content of md file */}}
  <div class="col-8">
    <p>
      {{ .Content }}
    </p>
  </div>
</div>
</main>
{{ end }}
