{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ $pages := where .Site.RegularPages "Type" "publications" }}
  {{ range $pages.GroupByDate "2006" }}
  <div class="post-group">
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <div class="card card__publications p-3 mb-3">
        <div class="card-content">
          <h4><a href="{{ .RelPermalink }}" class="main-link">{{ .Title }}</a></h4>
          <h6>{{ delimit .Params.authors ", " }}</h6>
        </div>
        <div class="card__footer">
          {{/* JOURNAL / ARXIV info */}}
          <span>
            {{ if .Params.journal }}
              {{ if .Params.doi }}
                <a class="link" href="{{ .Params.doi }}" target="_blank">{{ .Params.journal }}</a>
              {{ else }}
                {{ .Params.journal }}
              {{ end }}
              [<a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a>]
            {{ else }}
              <a class="link" href="https://arxiv.org/abs/{{ .Params.arXiv }}" target="_blank">arXiv:{{ .Params.arXiv }}</a>
            {{ end }}
          </span>
          
          {{/* Any comments like Editor's suggestion */}}
          {{ $page := . }} {{ with .Params.comment }}
            {{ if $page.Params.comment_link }}
              <span class="card__footer_highlight"> | <a class="link" href="{{ $page.Params.comment_link }}" target="_blank">{{ . }}</a></span>
            {{ else }}
              <span class="card__footer_highlight"> | {{ . }}</span>
            {{ end }}
          {{ end }}

        </div>
      </div>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</main>
{{ end }}
