:root {
  // bg_h: back_to_top hover
  --bg_h: #b3b1b2;
  --bg: #B1B3B3;
  // bg_s code highlight bg color
  --bg_s: #B1B3B3;
  // bg1 - block quote, button.copy_button
  --bg1: #ebdbb2;
  // bg2 not used
  --bg2: #d5c4a1;
  // bg3 not used
  --bg3: #bdae93;
  // bg4 not used
  --bg4: #63666A;

  --fg: #00313C;
  --fg1: #005F6B;
  --fg2: #348899;
  --fg3: #94A7AE;
  --fg4: #005F6B;
  
  --link: #4298B5;
  --link-visited: #38849D;

  --check: #b8bb26;

  --warning: #E04E39;
}

.darkmode {
  --bg_h: #1d2021;
  --bg: #05051e;
  --bg_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #B1B3B3;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --link: #4298B5;
  --link-visited: #38849D;

  --check: #b8bb26;

  --warning: #fb4934;
}
