:root {
  --bg: #f0f0f0;
  --bg_highlight: #b3b1b2;
  --bg_surface: #B1B3B3;
  --bg_surface2: #ebdbb2;

  --fg: #05051e;
  --fg_highlight: #005F6B;
  --fg_border: #005F6B;
  
  --link: #130080;
  --link-visited: #691a00;

  --check: #b8bb26;

  --warning: #E04E39;
}

.darkmode {
  --bg: #1f242A;
  --bg_highlight: #400000;
  --bg_surface: #323945;
  --bg_surface2: #3c3836;

  --fg: #adb5bd;
  --fg_highlight: #74c0fc;
  --fg_border: #C4C4C4;

  --link: #91A7FF;
  --link-visited: #91A7FF;

  --check: #9CA3AF;

  --warning: #E04E39;
}
