{{ define "head" }}
{{ end }}

{{ define "main" }}
<main id="main">
  {{ $pages := where .Site.RegularPages "Type" "members" }}

  {{ $members := where $pages "Params.position" "undergrad" }}
  {{ if gt (len $members) 0 }}
    <div class="container-fluid">
      <h1>Undergrads</h1>
      <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {{ range sort $members "Params.last_name" "asc" }}
            {{ partial "member" (dict "context" . "title" false) }}
        {{ end }}
      </div>
    </div>
  {{ end }}

</main>
{{ end }}
